In [1]:
import pandas as pd
import json
import os

## Path canonical

In [2]:
#data path
data_test = '../liputan6_data/canonical/test/'
data_dev = '../liputan6_data/canonical/dev/'
data_train = '../liputan6_data/canonical/train/'

## Fungsi load data

In [9]:
def load_json_data(directory):
    data = []

    for file in os.listdir(directory):
        filename = os.fsdecode(file)

        if filename.endswith(".json"):
            with open(os.path.join(directory, filename), 'r') as json_file:
                json_data = json.load(json_file)
                # Membuat dictionary sesuai dengan format yang diinginkan
                entry = {
                    'id': json_data.get('id', ''),
                    'url': json_data.get('url', ''),
                    'clean_article': json_data.get('clean_article', ''),
                    'clean_summary': json_data.get('clean_summary', ''),
                    'extractive_summary': json_data.get('extractive_summary', '')
                }

                data.append(entry)

    # Membuat DataFrame dari list data
    df = pd.DataFrame(data)
    return df

In [10]:
def convert_to_sentences(datas):

    merged_data = [' '.join(sentence).replace(' ,', ',').replace(' .', '.') for sentence in datas]
    
    article = ' '.join(merged_data)

    return article

## load dataset

In [13]:
# data test
df_test = load_json_data(data_test)
df_test['clean_article'] = df_test['clean_article'].apply(convert_to_sentences)
df_test['clean_summary'] = df_test['clean_summary'].apply(convert_to_sentences)

df_test.head()

,id,url,clean_article,clean_summary,extractive_summary
0,13019,https://www.liputan6.com/news/read/13019/kapol...,"Liputan6. com, Jakarta : Kepolisian Daerah Ria...",Kapolda Riau baru Brigjen Pol. Johny Yodjana b...,"[0, 4, 9]"
1,13020,https://www.liputan6.com/news/read/13020/bi-di...,"Liputan6. com, Jakarta : Bank Indonesia dinila...",Kendati Bank Sentral AS menurunkan suku bungan...,"[0, 4]"
2,13022,https://www.liputan6.com/news/read/13022/pemer...,"Liputan6. com, Jakarta : Berbagai kendala meng...",Pemerintah bermaksud akan lebih mengandalkan s...,"[0, 7]"
3,13024,https://www.liputan6.com/news/read/13024/perub...,"Liputan6. com, Jakarta : Penghapusan beberapa ...","Revisi Kepmennaker Nomor 78 Tahun 2001, dinila...","[0, 8]"
4,13025,https://www.liputan6.com/news/read/13025/puluh...,"Liputan6. com, Jakarta : Operasi Sadar Jaya ya...",Polisi menangkap 32 pengunjung Diskotik Mileni...,"[2, 3]"

In [14]:
# data test
df_dev = load_json_data(data_dev)
df_dev['clean_article'] = df_dev['clean_article'].apply(convert_to_sentences)
df_dev['clean_summary'] = df_dev['clean_summary'].apply(convert_to_sentences)

df_dev.head()

,id,url,clean_article,clean_summary,extractive_summary
0,1,https://www.liputan6.com/news/read/1/batas-pen...,"Liputan6. com, Jakarta : Pemerintah masih memb...",Pemerintah memberikan tenggat 14 hari kepada p...,"[1, 8]"
1,10,https://www.liputan6.com/news/read/10/belasan-...,"Liputan6. com, Jakarta : Diperkirakan 11 juta ...",Satu dari 20 orang Indonesia diperkirakan meng...,"[2, 4]"
2,1000,https://www.liputan6.com/news/read/1000/lagi--...,"Liputan6. com, Banda Aceh : Aksi peledakan kan...",Peledakan bom kembali terjadi di Aceh. Kali in...,"[2, 5]"
3,10000,https://www.liputan6.com/news/read/10000/penge...,"Liputan6. com, Surabaya : Petugas Kepolisian R...",Polres Surabaya Timur menangkap seorang penged...,"[0, 5]"
4,10001,https://www.liputan6.com/news/read/10001/menye...,"Liputan6. com, Jakarta : Yogyakarta dan Bali m...",Lima seniman Yogyakarta dan Bali menggelar pam...,"[0, 2]"

In [15]:
# data test
df_train = load_json_data(data_train)
df_train['clean_article'] = df_train['clean_article'].apply(convert_to_sentences)
df_train['clean_summary'] = df_train['clean_summary'].apply(convert_to_sentences)

df_train.head()

In [ ]:
df_test.to_csv('../data/df_test.csv', index=False)
df_dev.to_csv('../data/df_dev.csv', index=False)
df_train.to_csv('../data/df_train.csv', index=False)